DB_HOST=[YOUR-DB_HOST-NAME]
DB_USER=[YOUR-USER-NAME]
DB_PASSWORD=[YOUR-PASSWORD]
DB_NAME=[YOUR-DB_NAME]
JWT_SECRET=[YOUR-JWT_SECRET]
CLOUDINARY_CLOUD_NAME=[YOUR-CLOUDINARY_CLOUD_NAME]
CLOUDINARY_API_KEY=[YOUR-CLOUDINARY_API_KEY]
CLOUDINARY_API_SECRET=[YOUR-CLOUDINARY_API_SECRET]